.container {
  grid-column-start: 2;
}

.card {
  border-bottom: 1px solid #676464;
  display: grid;
  grid-template-columns: 125px 1fr;
  grid-template-rows: 20px 35px 20px 93px;
  column-gap: 5px;
  row-gap: 5px;
}

.image {
  width: 125px;
  height: 168px;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
}

.icon {
  margin-right: 0 !important;
}

.location {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2b283a;
  margin-top: 4px;
}

.google {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918e9b;
  margin-top: 4px;
  margin-left: 5px;
  cursor: pointer;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2b283a;
  grid-column: 2;
  margin-left: 3px;
}

.date {
  grid-column: 2;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 12px;
  color: #2b283a;
  margin-left: 4px;
}

.info {
  grid-column: 2;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #2b283a;
  margin-left: 4px;
}
